<%@ master language="C#" autoeventwireup="true" inherits="MasterPage, App_Web_whgmh3w5" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Tracking</title>
    <asp:ContentPlaceHolder ID="head" runat="server">

        <script src="js/utils.js" type="text/javascript"></script>

        <link href="Styles/estilos.css" rel="stylesheet" type="text/css" />
    </asp:ContentPlaceHolder>
</head>
<body style="text-align: center">

    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <asp:UpdatePanel ID="Up" runat="server">
        <ContentTemplate>
            <div>
                <asp:ContentPlaceHolder ID="cphMain" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </ContentTemplate>
    </asp:UpdatePanel>
    </form>
</body>
</html>
