<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EnvioDeRota.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Robo.Email.Notas.Solutions.Windows.Testes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ArquivoLog" value="c:\teste\log_DDMMYYYY.txt"/>

    <add key="AmbienteTwx" value="Producao"/>
    <!--<add key="Url_Homologacao" value="http://23.21.33.216:85/WebServicePOD/server.php?wsdl"/>
    <add key="Url_Producao" value="http://54.221.129.119:85/WebServicePOD/server.php?wsdl"/>-->

    <!--<add key="Url_Homologacao" value="http://soap.comprovei.com.br/WebServicePOD/server.php?wsdl"/>
    <add key="Url_Producao" value="http://soap.comprovei.com.br/WebServicePOD/server.php?wsdl"/>-->

    <add key="Url_Homologacao" value="http://34.207.154.27/WebServicePOD/server.php?wsdl"/>
    <add key="Url_Producao" value="http://34.207.154.27/WebServicePOD/server.php?wsdl"/>
    

    
    <add key="Usuario" value="logos"/>
    <add key="Senha" value="admin"/>

    <add key="QtdDocumentosPorChamada" value="50"/>
    <add key="Intervalo" value="2"/>



  </appSettings>
  <applicationSettings>
    <EnvioDeRota.Properties.Settings>
      <setting name="EnvioDeRota_br_com_comprovei_soap_WebServiceComprovei" serializeAs="String">
        <value>http://soap.comprovei.com.br/importQueue/v2/index.php</value>
      </setting>
      <setting name="EnvioDeRota_br_com_comprovei_ws_teste_WebServiceComprovei" serializeAs="String">
        <value>https://ws-teste1.comprovei.com.br/importQueue/index.php</value>
      </setting>
    </EnvioDeRota.Properties.Settings>
    <Robo.Email.Notas.Solutions.Windows.Testes.Properties.Settings>
      <setting name="Robo_Email_Notas_Solutions_Windows_Testes_br_com_roge_wslogos01_WSLogos" serializeAs="String">
        <value>http://wslogos01.roge.com.br:8086/csp/roge/WSRoge.WSLogos.cls</value>
      </setting>
      <setting name="Robo_Email_Notas_Solutions_Windows_Testes_WsComprovei_WebServiceComprovei" serializeAs="String">
        <value>http://54.221.129.119:85/WebServicePOD/server.php</value>
      </setting>
    </Robo.Email.Notas.Solutions.Windows.Testes.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceComproveiBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://54.221.129.119:85/WebServicePOD/server.php" binding="basicHttpBinding" bindingConfiguration="WebServiceComproveiBinding" contract="ServiceReference1.WebServiceComproveiPortType" name="WebServiceComproveiPort"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
