<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Site.master.cs" Inherits="Site" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Bem Vindo</title>
   
    <link href="Styles/estilos.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .style3
        {
            font-size: 7pt;
            font-weight: bold;
        }
        Hf .style4
        {
            color: black;
            font-weight: bold;
        }
        .style5
        {
            font-size: xx-small;
            font-weight: bold;
        }
        
        .treev
        {
            font-family: Arial;
            font-size: 10px;
            color: Black;
        }
        .style6
        {
            width: 100%;
            border-style: solid;
            border-width: 0px;
            height: 100%;
        }
        .style7
        {
            border: 0.1pt solid #FFFFFF;
            height: 13pt;
            font-size: 8pt;
            font-family: Verdana;
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>
    <script language="javascript" type="text/javascript">


//        function DimensionaDiv2(div, tableId, pain, tblPrinc2) {
//            obj = document.getElementById(tblPrinc2);
//            var de = document.documentElement;
//            var alturaCorpo = window.innerHeight || self.innerHeight || (de && de.clientHeight) || document.body.clientHeight;
//            obj.style.height(alturaCorpo - 115) + "px";
//            alert(alturaCorpo);
//        }

        function Ocultar(control1, control2, fazer) {

            obj = document.getElementById(control1);

            if (obj.style.display == "none") {
                obj.style.display = "inline";
            }
            else {
                obj.style.display = "none";
            }

            obj = document.getElementById(control2);

            var de = document.documentElement;
            var alturaCorpo = window.innerHeight || self.innerHeight || (de && de.clientHeight) || document.body.clientHeight;
            obj.style.height = (alturaCorpo - 150) + "px";
        }

        function DimensionaDivNavegadores(div, tableId, pain, tblPrinc2) {
            var de = document.documentElement;
            var table = document.getElementById(tableId);
            var altura = screen.height;
            var alturaCorpo = window.innerHeight || self.innerHeight || (de && de.clientHeight) || document.body.clientHeight;
            var alturaFinal, versao, temp;
            var tableHeight = table.offsetHeight;


            var tableMenu = document.getElementById('tblMenu');

            alturaFinal = alturaCorpo;
            var objDiv = document.getElementById(div);
            var objpain = document.getElementById(pain);
            var objpain2 = document.getElementById(tblPrinc2);

           if (alturaFinal > 0) {
                if (objDiv != null)
                    objDiv.style.height = alturaFinal + "px";

                if (objpain != null)
                    objpain.style.height = alturaFinal + "px";

                if (objpain2 != null) {
                    objpain2.style.height = alturaFinal - 118 + "px";
                    //tableMenu.style.height = alturaFinal - 145 + "px";
                }

                //alert('ok');
            }

        }
    </script>
</head>
<body onload="DimensionaDivNavegadores('sobra','tbPrincipal', 'Teste', 'tblPrinc2');"
    onresize="DimensionaDivNavegadores('sobra','tbPrincipal', 'Teste', 'tblPrinc2');"
    style="background-color: White">
    <form id="frmMasterPage" runat="server">
    <asp:ToolkitScriptManager ID="Toolkitscriptmanager1" runat="server" 
        AsyncPostBackTimeout="50000">
    </asp:ToolkitScriptManager>
    <div id="sobra" >
        <table id="Teste" width="100%" cellpadding="0" cellspacing="0" 
            border="0">
            <tr>
                <td>
                    <table id="tbPrincipal" cellpadding="0" cellspacing="0" width="100%" 
                        border="0">
                        <tr>
                            <td style="width: 100%;" valign="middle">
                                <table cellpadding="0" cellspacing="0" style="background-color: White;" width="100%"
                                    border="0">
                                    <tr>
                                        <td>
                                            <a href="#">
                                                <img src="Imagens/LOGOS-LOGTRANSP-03.jpg" style="border: 0px; margin-top: 1px; margin-left: 2px;
                                                    margin-bottom: 2px; height: 60px;" alt="Home Page" id="imgLogoPrincipal" runat="server" />
                                            </a>
                                        </td>
                                        <td style="width: 100%;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td style="height: 30px; border-bottom: 1px solid silver; text-align: right;" valign="middle">
                                                        <asp:Label ID="lblDataHor2a" runat="server">Este aplicativo foi desenvolvido para visualização 1024 x 768 </asp:Label>
                                                        <asp:Label ID="lblStatus1" runat="server" Font-Bold="true" Font-Size="14px"></asp:Label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="height: 30px; text-align: right;" valign="middle">
                                                        <asp:Label ID="lblDataHora" runat="server" Style="text-transform: lowercase;">Segunda-Feira, 
                                        23 de Agosto de 2010 </asp:Label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="cabecalho">
                                <table border="0" cellpadding="0" cellspacing="0" width="99%">
                                    <tr>
                                        <td align="left" style="width: 50%; color: #fff; height: 10px" valign="middle">
                                            <asp:Label ID="lblUserName" runat="server" Font-Bold="True" Font-Names="Arial" Font-Size="10px"
                                                Style="text-transform: uppercase;" ForeColor="Black"></asp:Label>
                                            <asp:Label ID="lblCodEmpresa" runat="server" Style="font-size: 7pt" Visible="False"></asp:Label>
                                        </td>
                                        <td>
                                            <table width="100%" id="tb_troca" runat="server">
                                                <tr>
                                                    <td style="font-family: Arial; font-size: 8pt; width: 30%; text-align: right;" class="style4">
                                                        Selecionar Cliente(s):
                                                    </td>
                                                    <td style="width: 1%;">
                                                        <asp:UpdatePanel ID="uplBot" runat="server">
                                                            <ContentTemplate>
                                                                <asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="~/Imagens/identity.png"
                                                                    OnClick="ImageButton1_Click" />
                                                            </ContentTemplate>
                                                        </asp:UpdatePanel>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td align="right" style="padding-right: 5px; width: 5%; color: #fff; font-size: 10px;"
                                            valign="middle">
                                            <asp:Panel ID="pnUser" runat="server" Width="50px">
                                                <asp:LinkButton ID="lnkLogout" runat="server" CausesValidation="false" CssClass="sair"
                                                    Text="SAIR [x]" PostBackUrl="Fim.aspx"></asp:LinkButton>
                                            </asp:Panel>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <tr>
                        <td id="xtdMenu" runat="server" style="text-align: left; vertical-align: top">
                            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="tblPrinc2">
                                <tr valign="top">
                                    <td id="tr0" runat="server" width="205px" valign="top">
                                        <asp:Panel ID="Panel3" runat="server" ScrollBars="Auto" BorderColor="White" BorderStyle="None"
                                            BorderWidth="0px">
                                            <table id="tblMenu" border="0" cellpadding="0" cellspacing="0" class="style6">
                                                <tr>
                                                    <td height="25">
                                                        <asp:Panel ID="Panel2" runat="server" BackImageUrl="Images/skins/primeiro/img/menu_3_2.jpg"
                                                            Height="25px">
                                                            <asp:Image ID="Image3" runat="server" ImageUrl="Images/skins/primeiro/img/menu_3_12.jpg" />
                                                        </asp:Panel>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" style="height: 90%">
                                                        <asp:TreeView ID="TreeViewMenu" runat="server" Font-Names="Arial" Font-Size="7pt"
                                                            ForeColor="Black" NodeIndent="10" Style="font-size: 10px" 
                                                            BorderStyle="None" ShowLines="True">
                                                            <SelectedNodeStyle Font-Bold="True" />
                                                        </asp:TreeView>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="style7" runat="server" id="tdTitCliente" style="background-image: url(Images/skins/primeiro/img/menu_3_2.jpg);
                                                        clip: rect(auto, 25px, auto, auto);">
                                                        Clientes Selecionados
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <asp:GridView ID="grd" runat="server" AutoGenerateColumns="False" BackColor="White"
                                                            BorderColor="#999999" BorderStyle="Solid" BorderWidth="1px" CellPadding="3" EnableModelValidation="True"
                                                            ForeColor="Black" GridLines="Vertical" Width="220px">
                                                            <AlternatingRowStyle BackColor="#CCCCCC" />
                                                            <Columns>
                                                                <asp:BoundField DataField="CNPJ" HeaderStyle-HorizontalAlign="Center" HeaderText="CNPJ"
                                                                    ItemStyle-HorizontalAlign="Center" Visible="False">
                                                                    <HeaderStyle Font-Names="Verdana" Font-Size="6pt" HorizontalAlign="Left" />
                                                                    <ItemStyle Font-Names="Verdana" Font-Size="6pt" HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                                <asp:BoundField DataField="Nome" HeaderStyle-HorizontalAlign="Left" HeaderText="Empresa"
                                                                    ItemStyle-HorizontalAlign="Left">
                                                                    <HeaderStyle Font-Names="Verdana" Font-Size="6pt" HorizontalAlign="Left" />
                                                                    <ItemStyle Font-Names="verdana" Font-Size="6pt" HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                            </Columns>
                                                            <EmptyDataTemplate>
                                                                <strong>Nenhum Cliente Selecionado</strong>
                                                            </EmptyDataTemplate>
                                                            <FooterStyle BackColor="#CCCCCC" />
                                                            <HeaderStyle BackColor="Black" Font-Bold="True" ForeColor="White" />
                                                            <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                                                            <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                                                        </asp:GridView>
                                                    </td>
                                                </tr>
                                                <tr valign="bottom">
                                                    <td>
                                                        <asp:Button ID="Button3" runat="server" CssClass="button" OnClick="Button3_Click"
                                                            Text="Selecionar Clientes" Width="220px" Font-Bold="True" Font-Size="10pt" Height="25px"
                                                            BorderStyle="None" CausesValidation="False" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </asp:Panel>
                                    </td>
                                    <td style="width: 7px; vertical-align: middle;" id="KKKKKK2" runat="server" align="center"
                                        class="Divisoria">
                                        <asp:Image ID="Button1" runat="server" CausesValidation="False" Font-Bold="True"
                                            ImageUrl="Images/skins/primeiro/img/menu_1_2.jpg" Width="13px" />
                                    </td>
                                    <td id="KKKKKK" runat="server" height="100%" valign="top" style="border: solid:0">
                                        <asp:UpdatePanel ID="Up" runat="server">
                                            <ContentTemplate>
                                                <asp:ContentPlaceHolder ID="cphMain" runat="server">
                                                </asp:ContentPlaceHolder>
                                            </ContentTemplate>
                                        </asp:UpdatePanel>
                                        <br />
                                        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                                            <ContentTemplate>
                                                <div id="dvEscolheCliente" style="position: absolute; top: 150%; left: 15%; width: 70%;
                                                    z-index: auto; height: 80%;" runat="server" visible="false">
                                                    <asp:Panel ID="Panel4" runat="server" BackColor="White" Style="text-align: center"
                                                        DefaultButton="Button2">
                                                        <center>
                                                            <table cellpadding="2" cellspacing="2" class="table" id="tbTrocaCliente" runat="server"
                                                                width="99%">
                                                                <tr>
                                                                    <td style="background-image: url('Images/skins/primeiro/img/menu_3_2.jpg'); width: 0%;" class="tdpCabecalho"
                                                                        nowrap="nowrap" align="left" width="99%">
                                                                        &nbsp;</td>
                                                                    <td align="left" class="tdpCabecalho" nowrap="nowrap" 
                                                                        style="background-image: url('Images/skins/primeiro/img/menu_3_2.jpg'); width: 49%;" 
                                                                        width="99%">
                                                                        <b>Pesquisar Clientes</b>&nbsp;</td>
                                                                    <td align="left" class="tdpCabecalho" colspan="2" nowrap="nowrap" 
                                                                        
                                                                        style="background-image: url('Images/skins/primeiro/img/menu_3_2.jpg'); text-align: right;" 
                                                                        width="1%">
                                                                        <asp:Button ID="btnFecharEscolheClie" runat="server" CssClass="button" 
                                                                            Font-Size="9pt" OnClick="btnFecharEscolheClie_Click"
                                                                            Text="FECHAR [ X ]" Width="100px" />
                                                                        
                                                                        </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" class="tdp" style="text-align: left" width="1%">
                                                                        Nome:<br />
                                                                    </td>
                                                                    <td align="left" class="tdpCabecalho" style="text-align: left" width="99%" 
                                                                        colspan="2">
                                                                        <asp:TextBox ID="txtFiltro" runat="server" CssClass="txt" Width="99%"></asp:TextBox>
                                                                    </td>
                                                                    <td align="left" class="tdpR" style="text-align: right" width="1%">
                                                                        <asp:Button ID="Button2" runat="server" CssClass="button" Font-Size="9pt" OnClick="Button2_Click"
                                                                            Text="PESQUISAR" Width="100px" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <hr />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" class="tdp" colspan="4" style="text-align: left; width: 100%;" 
                                                                        width="1%">
                                                                        <asp:Panel ID="Panel5" runat="server">
                                                                            <asp:Panel ID="pnlClientes" runat="server" BorderColor="#999999" BorderStyle="Solid"
                                                                                BorderWidth="1px">
                                                                                <table class="table">
                                                                                    <tr>
                                                                                        <td class="tdpCabecalho" nowrap="nowrap" style="background-image: url(Images/skins/primeiro/img/menu_3_2.jpg);
                                                                                            clip: rect(auto, 25px, auto, auto);" width="50%">
                                                                                            <b>SELECIONE O CLIENTE</b>
                                                                                        </td>
                                                                                        <td class="tdpCabecalho" nowrap="nowrap" style="background-image: url(Images/skins/primeiro/img/menu_3_2.jpg);">
                                                                                            <b>SELECIONE UM OU MAIS CLIENTES</b>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan="2">
                                                                                            <hr />
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                                <table class="table">
                                                                                    <tr>
                                                                                        <td class="tdp" nowrap="nowrap" valign="top" style="width: 50%">
                                                                                            <asp:Panel ID="Panel6" runat="server" Height="350px" ScrollBars="Auto" 
                                                                                                Width="99%">
                                                                                                <asp:CheckBoxList ID="rdListClientes" runat="server" Font-Names="Verdana" Font-Size="7pt"
                                                                                                    AutoPostBack="True" OnSelectedIndexChanged="rdListClientes_SelectedIndexChanged1">
                                                                                                </asp:CheckBoxList>
                                                                                            </asp:Panel>
                                                                                        </td>
                                                                                        <td class="tdp" nowrap="nowrap" style="width: 0" valign="top">
                                                                                            &nbsp;
                                                                                        </td>
                                                                                        <td class="tdp" nowrap="nowrap" valign="top" style="width: 50%">
                                                                                            <asp:Panel ID="Panel8" runat="server" Height="350px" ScrollBars="Auto" 
                                                                                                Width="99%">
                                                                                                <asp:CheckBoxList ID="chkEscolhidos" runat="server" Font-Names="Verdana" Font-Size="7pt"
                                                                                                    AutoPostBack="True" OnSelectedIndexChanged="chkEscolhidos_SelectedIndexChanged">
                                                                                                </asp:CheckBoxList>
                                                                                            </asp:Panel>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="tdpR" colspan="3">
                                                                                            <asp:Button ID="btnConfirmar" runat="server" CssClass="button" Font-Size="9pt" OnClick="btnConfirmar_Click"
                                                                                                Text="Confirmar" Width="100px" />
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </asp:Panel>
                                                                        </asp:Panel>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </center>
                                                    </asp:Panel>
                                                </div>
                                            </ContentTemplate>
                                        </asp:UpdatePanel>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="rodape">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td style="text-align: left; font-size: 8pt;" width="100%" class="cabecalho">
                                                    Desenvolvido por Sistecno.
                                                                                                                                </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </td>
            </tr>
        </table>
    </div>
    <div style="position: absolute; top: 50%; left: 50%; text-align: center;">
        <asp:UpdateProgress ID="UpdateProgress1" runat="server" DisplayAfter="1">
            <ProgressTemplate>
                <asp:Image ID="Image1" runat="server" ImageUrl="~/Imagens/Carregando.gif" Height="60px" />
                <br />
                <span class="style3">&nbsp;</span><span class="style5">AGUARDE..</span><span class="style3">.
                </span>
            </ProgressTemplate>
        </asp:UpdateProgress>
    </div>
    </form>
</body>
</html>
