<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TesteNovoMetodoComprovei.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <TesteNovoMetodoComprovei.Properties.Settings>
            <setting name="TesteNovoMetodoComprovei_br_com_comprovei_soap_WebServiceComprovei" serializeAs="String">
                <value>http://soap.comprovei.com.br/importQueue/index.php</value>
            </setting>
        </TesteNovoMetodoComprovei.Properties.Settings>
    </applicationSettings>
</configuration>
