<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <!--<appSettings>
  <add key="URL_CAPTCHA" value="http://www.nfe.fazenda.gov.br/scripts/srf/intercepta/captcha.aspx?opt=image"/>
  <add key="URL_CONSULTA" value="http://www.nfe.fazenda.gov.br/portal/consulta.aspx?tipoConsulta=completa&amp;tipoConteudo=XbSeqxE8pl8%3d"/>
  <add key="URL_CAPTCHA_CPF" value="http://www.receita.fazenda.gov.br/scripts/captcha/Telerik.Web.UI.WebResource.axd?type=rca&amp;guid="/>
  <add key="URL_CONSULTA_CPF" value="http://www.receita.fazenda.gov.br/aplicacoes/atcta/cpf/ConsultaPublica.asp"/>
  <add key="URL_POST_CPF" value="http://www.receita.fazenda.gov.br/aplicacoes/atcta/cpf/ConsultaPublicaExibir.asp"/>
  <add key="URL_CONSULTA_CNPJ" value="http://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/cnpjreva_solicitacao2.asp"/>
  <add key="URL_POST_CNPJ" value="http://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/valida.asp"/>
  <add key="email" value="moises@sistecno.com.br"/>
  <add key="smtp" value="mail.sistecno.com.br"/>
  <add key="senha" value="@oncetsis14"/>
  <add key="porta" value="587"/>
  <add key="URL_LOGO" value="http://clientes.sistecno.com.br:8080/sistecnoweb/img/png-01.png"/>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  <add key="Hospedagem_Externo" value=""/>
  <add key="Cnn_Externo" value=""/>-->
  
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.5.1"/>
    <!--<authentication mode="Forms">
        <forms loginUrl="index.aspx" name=".ASPXFORMSAUTH">    </forms>
      </authentication>

      <authorization>
        <deny users="?" />
      </authorization>-->
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <add name="Sistran_Entities" connectionString="metadata=res://*/SistranModel.csdl|res://*/SistranModel.ssdl|res://*/SistranModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.5;initial catalog=STNNOVO;persist security info=True;user id=sa;Password=@logos09022005$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="STNNOVOConnectionString" connectionString="Data Source=stn.sistecno.com.br;Initial Catalog=STNNOVO;Persist Security Info=True;User ID=sa;Password=@logos09022005$;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="STNNOVOConnectionString2" connectionString="Data Source=stn.sistecno.com.br;Initial Catalog=STNNOVO;Persist Security Info=True;User ID=sa;Password=@oncetsis12122014" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <WebSite.Properties.Settings>
      <setting name="WebSite_CentralWssLogos_wsExecutarComado" serializeAs="String">
        <value>http://www.grupologos.com.br/wss/wsExecutarComado.asmx</value>
      </setting>
    </WebSite.Properties.Settings>
  </applicationSettings>
</configuration>