<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoboJosapar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <RoboJosapar.Properties.Settings>
            <setting name="RoboJosapar_Josapar_OrderService_BOOrderIntegration"
                serializeAs="String">
                <value>https://erp.josapar.com.br/Apps/WebService/pWWS_B2B_Order/WS/BOOrderIntegration.asmx</value>
            </setting>
        </RoboJosapar.Properties.Settings>
    </applicationSettings>
</configuration>