<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SistranWebGrupoLogos" connectionString="Data Source=192.168.10.5;Initial Catalog=grupologosteste;User ID=sa;Password=@logos09022005$;"
      providerName="System.Data.SqlClient"/>
    <add name="SistranWebLogosMakro" connectionString="Data Source=192.168.15.251;Initial Catalog=LogosMakro;User ID=sa;Password=$srvbd;"
      providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices"
      connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient"/>
    <add name="GrupoLogosConnectionString"
      connectionString="Data Source=192.168.10.5;Initial Catalog=grupologosteste;Persist Security Info=True;User ID=sa;Password=@logos09022005$"
      providerName="System.Data.SqlClient"/>
    <add name="GrupoLogosTesteConnectionString"
      connectionString="Data Source=192.168.10.5;Initial Catalog=GrupoLogosTeste;Persist Security Info=True;User ID=sa;Password=@logos09022005$"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" fcnMode="Disabled" />
    <compilation debug="true" targetFramework="4.5" >
      <assemblies>
        <!-- <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.SqlServer.Types, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <!-- <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>-->
      <buildProviders>
        <add extension=".rdlc"
          type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <globalization enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="iso-8859-1" responseHeaderEncoding="utf-8"
      culture="pt-BR" uiCulture="pt-BR"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"
        validate="false"/>
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="cnn" value="Data Source=192.168.10.10;Initial Catalog=GrupoLogos;Persist Security Info=True;User ID=sa;Password=@logos09022005$"/>
    <add key="EnderecoSiteDefault2" value="http://localhost/Sistranweb2/Default.aspx"/>
    <add key="EnderecoSiteDefault" value="http://localhost:53516/Sistran.Web/Default.aspx"/>
    <add key="UrlXmlConnections" value="Config/Configurations.xml"/>
    <add key="TimeoutSession" value="300000"/>
    <add key="DiasPesquisa" value="31"/>
    <add key="marca" value="Desenvolvido por Sistecno."/>
    <add key="IntervaloRefresh" value="1"/>
    <add key="smtp" value="mail.sistecno.com.br"/>
    <add key="emailPedido" value="moises@sistecno.com.br"/>
    <add key="senhasmtp" value="mo2404"/>
    <add key="emailPedidoProvisorio" value="moises@mrandrade.com"/>
    <add key="SMTPPorta" value="25"/>
    <add key="AtivarBaseAntiga" value="S"/>
    <add key="ChaveMapsGoogle" value="ABQIAAAA5LdWdrpUdaMd2vHvrVCi1xTMWSmi_MSuKkTW-Hv7c6tRJoBLARQOMvyXtIOJbTJFXAu8YeoAhavb5A"/>
    <add key="CaminhoExportacao" value="\\192.168.10.50\teste\"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="urlInicial" value="http://www.grupologos.com.br"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd"
        type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode"
        type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <location path="App_Themes/Adm">
    <system.web>
      <pages>
        <controls>
          <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
            assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </controls>
      </pages>
      <compilation debug="true">
        <assemblies>
          <add assembly="Telerik.Web.UI, Culture=neutral, PublicKeyToken=121FAE78165BA3D4"/>
        </assemblies>
      </compilation>
      <httpHandlers>
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx" validate="false"
          type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add verb="*" path="*_AppService.axd" validate="false"
          type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule"
          type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI"/>
      </httpModules>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>