<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseOrigem" value="Data Source=192.168.10.9;Initial Catalog=Logos;User ID=sa;Password=@logos09022005$;"/>
    <add key="BaseDestino" value="Data Source=192.168.10.4;Initial Catalog=grupologos;User ID=sa;Password=@logos09022005$;"/>
    <add key="ArquivoLog" value="\\192.168.10.158\Teste\log_MigracaoOcorrencia.txt" />

  </appSettings>
</configuration>